@import url('https://fonts.googleapis.com/css2?family=Helvetica');
@tailwind base;
@tailwind components;
@tailwind utilities;

.signature-arrow {
  overflow: visible;
  clip-path: polygon(
    0 40%, 20% 43.3%, 40% 45.7%, 60% 47.2%, 80% 47%, 90% 48%, 92% 47%, 
        80% 25%, 82% 25%,
        100% 50.5%, 
        82% 75%, 80% 75%, 
    92% 53%, 90% 54%, 80% 53%, 60% 52.2%, 40% 49.7%, 20% 46.3%, 0 42%);
}

.cross-shape {
  clip-path: polygon(
    6% 0, 50% 44%, 94% 0, 
    100% 6%, 56% 50%, 100% 94%,
    94% 100%, 50% 56%, 6% 100%,
    0 94%, 44% 50%, 0 6%
  );
}

.tick-shape {
  clip-path: polygon(
    6% 50%, 40% 84%, 94% 10%, 
    100% 16%, 40% 98%, 0% 56%
  )
}
